body,html {
  margin: 0;
  padding: 0;
  width: 100%; 
}

body{
	max-width: 1170px;
	margin: auto;
}

header {
	width: 100%;
    max-width: 1170px;
    height: 100%;
    display:flex; /* To align .header's content side to side. */
    border: 2px solid #73AD21;
}

.logo_box{
	position: absolute;
	background-color: pink; /*Background used only as a reference.*/
	top: 30px;	
}

.logo {
	width: 100%;
	position: relative;	
}

.keyimage_box.keyimage{
	max-width: 100%;
	max-width: 1170px;
	position: absolute;
	display: flex;
	flex-wrap: wrap;   
}

.header_title{
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 50px;
	font-weight: normal;
	text-transform: uppercase;
	font-weight: 90; /* Defines from thin to thick characters */
}

.header_subtitle{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 25px;
	font-weight: normal;
	text-transform: uppercase;
	font-weight: 90; /* Defines from thin to thick characters */

}
.titles {
  text-align: right;
  float:right;
  flex-grow: 8; /* To let the second flex-item grow x times (eight here) wider than the rest.*/
}

hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
    color: #7d97ad;
    background-color: #7d97ad;
    height: 5px;
    width: 100%; 
}

.pics_box {
	  width: 100%;
    max-width: 1170px;
    height: 100%;
    display:flex; /* To align the box's content side to side. */
    border: 2px solid #73AD21;
    background-color: #7d97ad; /*Background used only as a reference.*/

}




